# 1번

In [8]:
import numpy as np
import pandas as pd

In [93]:
#  data 불러오기
data = pd.read_csv('Life_expectancy.csv')

In [32]:
# isna의 평균 값이 0이 아니라면 결측치가 존재하는 변수이다.
# True 인 것들을 추린다.
data.isna().mean() != 0

Country                            False
Year                               False
Status                             False
Life expectancy                     True
Adult mortality                     True
Infant deaths                      False
Alcohol                             True
Percentage expenditure             False
Hepatitis B                         True
Measles                            False
BMI                                 True
Under-five deaths                  False
Polio                               True
Total expenditure                   True
Diphtheria                          True
HIV/AIDS                           False
GDP                                 True
Population                          True
Thinness 1-19 years                 True
Thinness 5-9 years                  True
Income composition of resources     True
Schooling                           True
dtype: bool

In [21]:
null_index = data.isna().mean() != 0

In [92]:
null_index_list = []

for i in range(len(null_index)):
    if null_index[i] == True:
        null_index_list.append(i)

# 결측치가 존재하는 변수들을 출력했다.
for i in null_index_list:
    print(null_index.index[i])

Life expectancy
Adult mortality
Alcohol
Hepatitis B
BMI
Polio
Total expenditure
Diphtheria
GDP
Population
Thinness 1-19 years
Thinness 5-9 years
Income composition of resources
Schooling

# 2번

In [67]:
data.isnull().mean()

Country                            0.000000
Year                               0.000000
Status                             0.000000
Life expectancy                    0.003404
Adult mortality                    0.003404
Infant deaths                      0.000000
Alcohol                            0.066031
Percentage expenditure             0.000000
Hepatitis B                        0.188223
Measles                            0.000000
BMI                                0.011572
Under-five deaths                  0.000000
Polio                              0.006467
Total expenditure                  0.076923
Diphtheria                         0.006467
HIV/AIDS                           0.000000
GDP                                0.152485
Population                         0.221920
Thinness 1-19 years                0.011572
Thinness 5-9 years                 0.011572
Income composition of resources    0.056841
Schooling                          0.055480
dtype: float64

In [64]:
index_2 = data.isnull().mean() >= 0.1

In [66]:
# 결측치가 10퍼센트 이상인 변수들에게 true를 부여
index_2

Country                            False
Year                               False
Status                             False
Life expectancy                    False
Adult mortality                    False
Infant deaths                      False
Alcohol                            False
Percentage expenditure             False
Hepatitis B                         True
Measles                            False
BMI                                False
Under-five deaths                  False
Polio                              False
Total expenditure                  False
Diphtheria                         False
HIV/AIDS                           False
GDP                                 True
Population                          True
Thinness 1-19 years                False
Thinness 5-9 years                 False
Income composition of resources    False
Schooling                          False
dtype: bool

In [73]:
#  결측치가 10퍼센트 이상인 변수들의 리스트 생성
index_2_list =[]

for i in range(len(index_2)):
    if index_2[i] == True:
        index_2_list.append(i)
print("결측치가 10퍼센트 이상인 변수의 개수 : {}".format(len(index_2_list)))
print("결측치가 10퍼센트 이상인 변수 출력")
for i in index_2_list:
    print(index_2.index[i])

결측치가 10퍼센트 이상인 변수의 개수 : 3
결측치가 10퍼센트 이상인 변수 출력
Hepatitis B
GDP
Population

In [109]:
# 결측치 변수들을 제거
index_2_list2 = []
for i in range(len(index_2)):
    if index_2[i] != True:
        index_2_list2.append(index_2.index[i])
        
new_data = data.loc[:,index_2_list2]

In [113]:
#  결측치가 10퍼센트 이상인 변수 drop한 새로운 new_data 생성
new_data.isna().mean()

Country                            0.000000
Year                               0.000000
Status                             0.000000
Life expectancy                    0.003404
Adult mortality                    0.003404
Infant deaths                      0.000000
Alcohol                            0.066031
Percentage expenditure             0.000000
Measles                            0.000000
BMI                                0.011572
Under-five deaths                  0.000000
Polio                              0.006467
Total expenditure                  0.076923
Diphtheria                         0.006467
HIV/AIDS                           0.000000
Thinness 1-19 years                0.011572
Thinness 5-9 years                 0.011572
Income composition of resources    0.056841
Schooling                          0.055480
dtype: float64

In [130]:
# 하나라도 결측치가 있는 변수를 제거한다.
index_2_list3 = []
# True값을 가지는 변수만 남긴다.
new_index = new_data.isna().mean() == 0
for i in range(len(new_index)):
    if new_index[i] == True:
        index_2_list3.append(new_index.index[i])

In [133]:
new_data2 = new_data.loc[:,index_2_list3]

In [135]:
# 결측치가 아무것도 없는 새로운 데이터를 만들었다.
new_data2.isna().mean()

Country                   0.0
Year                      0.0
Status                    0.0
Infant deaths             0.0
Percentage expenditure    0.0
Measles                   0.0
Under-five deaths         0.0
HIV/AIDS                  0.0
dtype: float64

# 3번

In [145]:
#  data 불러오기
data = pd.read_csv('Life_expectancy.csv')

In [148]:
data.duplicated(keep='first').any()
#  중복되는 데이터를 찾지 못하였다.

False

In [149]:
data.duplicated(keep='first').sum()
#  중복되는 데이터를 찾지 못하였다.

0

# 4번

In [165]:
data

,Country,Year,Status,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [151]:
np.unique(data.loc[:,'Status'])

array(['Developed', 'Developing'], dtype=object)

In [154]:
# 테이블을 합침으로써 원하는 결과를 도출한다.
temp = pd.get_dummies(data['Status'])

In [159]:
temp

      Developed  Developing
0             0           1
1             0           1
2             0           1
3             0           1
4             0           1
...         ...         ...
2933          0           1
2934          0           1
2935          0           1
2936          0           1
2937          0           1

[2938 rows x 2 columns]

In [172]:
list_4 = list(data.columns)

In [173]:
list_4.remove('Status')

In [174]:
list_4

['Country',
 'Year',
 'Life expectancy',
 'Adult mortality',
 'Infant deaths',
 'Alcohol',
 'Percentage expenditure',
 'Hepatitis B',
 'Measles',
 'BMI',
 'Under-five deaths ',
 'Polio',
 'Total expenditure',
 'Diphtheria ',
 'HIV/AIDS',
 'GDP',
 'Population',
 'Thinness 1-19 years',
 'Thinness 5-9 years',
 'Income composition of resources',
 'Schooling']

In [175]:
new_data4 = data.loc[:,list_4]

In [180]:
new_data4.shape

(2938, 21)

In [177]:
result_data = pd.concat([new_data4,temp],axis=1)

In [181]:
# 변수를 없애고 새로 붙였다
result_data.shape

(2938, 23)

# 5번

In [246]:
grouped =data.groupby('Country')

In [248]:
grouped.head()

,Country,Year,Status,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922,Zimbabwe,2015,Developing,67.0,336.0,22,NaN,0.000000,87.0,0,...,88.0,NaN,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3
2923,Zimbabwe,2014,Developing,59.2,371.0,23,6.50,10.822595,91.0,0,...,92.0,6.44,91.0,6.3,127.474620,15411675.0,5.9,5.7,0.498,10.3
2924,Zimbabwe,2013,Developing,58.0,399.0,25,6.39,10.666707,95.0,0,...,95.0,6.88,95.0,6.8,111.227396,155456.0,6.2,6.0,0.488,10.4
2925,Zimbabwe,2012,Developing,56.6,429.0,26,6.09,92.602336,97.0,0,...,95.0,6.69,95.0,8.8,955.648466,1471826.0,6.5,6.4,0.464,9.8
2926,Zimbabwe,2011,Developing,54.9,464.0,28,6.00,63.750530,94.0,0,...,93.0,6.31,93.0,13.3,839.927936,14386649.0,6.8,6.7,0.452,10.1

In [250]:
new_data = grouped.mean()

In [253]:
new_data.drop(['Year'],axis=1,inplace=True)

In [254]:
new_data.head()

,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,BMI,Under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,58.19375,269.0625,78.2500,0.014375,34.960110,64.562500,2362.2500,15.51875,107.5625,48.3750,8.252500,52.3125,0.10000,340.015425,9.972260e+06,16.58125,15.58125,0.415375,8.21250
Albania,75.15625,45.0625,0.6875,4.848750,193.259091,98.000000,53.3750,49.06875,0.9375,98.1250,5.945625,98.0625,0.10000,2119.726679,6.969116e+05,1.61875,1.70000,0.709875,12.13750
Algeria,73.61875,108.1875,20.3125,0.406667,236.185241,78.000000,1943.8750,48.74375,23.5000,91.7500,4.604000,91.8750,0.10000,2847.853392,2.164983e+07,6.09375,5.97500,0.694875,12.71250
Angola,49.01875,328.5625,83.7500,5.740667,102.100268,70.222222,3561.3125,18.01875,132.6250,46.1250,3.919333,47.6875,2.36875,1975.143045,1.014710e+07,6.19375,6.66875,0.458375,8.04375
Antigua and Barbuda,75.05625,127.5000,0.0000,7.949333,1001.585226,98.266667,0.0000,38.42500,0.0000,96.9375,4.791333,98.3125,0.12500,9759.305728,NaN,3.42500,3.37500,0.488625,8.84375

# 6번

In [185]:
Y_ = data.loc[:,'Life expectancy']
X_ = data.drop(['Life expectancy'],axis=1)

In [184]:
X_train = Y_.loc[:137,:] 
X_test = 
Y_train = 
Y_test =

,Country,Year,Status,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,BMI,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,723.0,27,4.36,0.000000,68.0,31,27.1,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,715.0,26,4.06,0.000000,7.0,998,26.7,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,73.0,25,4.43,0.000000,73.0,304,26.3,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,686.0,25,1.72,0.000000,76.0,529,25.9,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,665.0,24,1.68,0.000000,79.0,1483,25.5,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

# 7번

In [226]:
class MLR:
    def __init__(self,intercept=True):
        self.coef = None
        self.intercept = intercept
    def intercept_add(self,X):
        ones = np.ones(len(X)).reshape(-1,1)
        result = np.concatenate([ones,X],axis=1)
        return result
    def fit(self,X,Y):
        if self.intercept_add ==True:
            new_X = self.intercept_add(X)
            self.coef = np.linarg.inv(new_X.transpose()@new_X)@new_X.transpose()@Y
        else:
            self.coef = np.linarg.inv(X.transpose()@new_X)@X.transpose()@Y
    def predict(self,X):
        if self.intercept_add==True:
            new_X = self.intercept_add(X)
            result = new_X@self.coef
            return np.array(result)
        else:
            result = X@self.coef
            return np.array(result)

# 8번

In [ ]:
class Knn:
    def __init__(self,k=5):
        self.n_neighbor=k
    def euclidean_dist(self,obs1,obs2):
        result = np.sqrt((obs1-obs2)**2)
        return result
    def search_neighbors(self, X_train,test_sample_x):
        dists = []
        for index, train_sample in enumerate(X_train):
            dist = self.euclidean_dist(train_sample,test_sample_x)
            dists.append((index,dist))
        dists.sort(key=lambda tupe:tupe[1])
        result = dists[:self.n_neighbor]
        return result
    def predict(self,X_train,Y_train,X_test):
        search = self.search_neighbors(X_train,X_test)
        index_Y = search[:][0]

# 9번

In [228]:
def MSE(true_y,pred_y):
    residual = true_y - pred_y
    result = np.mean(np.sum(residual**2))
    return result

def MAPE(true_y,pred_y):
    residual= (np.abs(true_y - pred_y)/true_y)*100
    result = np.mean(residual)