In [1]:
import numpy as np
import pandas as pd

In [2]:
path = '/Users/doyoung/학교/Python_Programming_JupyterNotebook/데이터/heart.data.txt'

In [3]:
temp=[]
with open(path,'r') as f:
    
    while True:
        
        line = f.readline()
        
        if not line:
            
            break
            
        temp.append(line.split())
        
temp = np.array(temp)

In [4]:
temp

array([['id', 'biking', 'smoking', 'heart.disease'],
       ['1', '30.80124571', '10.89660802', '"""11.7694227799599"""'],
       ['2', '65.12921517', '2.219563176', '"""2.85408147801992"""'],
       ...,
       ['496', '8.279743388', '6.423719525', '"""13.4951676503312"""'],
       ['497', '42.34586343', '20.74132754', '"""10.115865147358"""'],
       ['498', '30.77425409', '23.61017497', '"""11.843555763502"""']],
      dtype='<U23')

In [5]:
colum_names = temp[0,:]
values = temp[1:,:]

In [6]:
colum_names

array(['id', 'biking', 'smoking', 'heart.disease'], dtype='<U23')

In [7]:
values

array([['1', '30.80124571', '10.89660802', '"""11.7694227799599"""'],
       ['2', '65.12921517', '2.219563176', '"""2.85408147801992"""'],
       ['3', '1.959664531', '17.58833051', '"""17.1778034757926"""'],
       ...,
       ['496', '8.279743388', '6.423719525', '"""13.4951676503312"""'],
       ['497', '42.34586343', '20.74132754', '"""10.115865147358"""'],
       ['498', '30.77425409', '23.61017497', '"""11.843555763502"""']],
      dtype='<U23')

In [8]:
heart_data = pd.DataFrame(values)

In [9]:
heart_data

       0            1            2                       3
0      1  30.80124571  10.89660802  """11.7694227799599"""
1      2  65.12921517  2.219563176  """2.85408147801992"""
2      3  1.959664531  17.58833051  """17.1778034757926"""
3      4  44.80019562  2.802558875  """6.81664690867892"""
4      5  69.42845368   15.9745046  """4.06222352243168"""
..   ...          ...          ...                     ...
493  494  47.66043959  27.56246378  """11.2943915753777"""
494  495  45.09720266  21.38562013  """9.61676248475798"""
495  496  8.279743388  6.423719525  """13.4951676503312"""
496  497  42.34586343  20.74132754   """10.115865147358"""
497  498  30.77425409  23.61017497   """11.843555763502"""

[498 rows x 4 columns]

In [10]:
heart_data.columns = colum_names

In [11]:
heart_data.head()

  id       biking      smoking           heart.disease
0  1  30.80124571  10.89660802  """11.7694227799599"""
1  2  65.12921517  2.219563176  """2.85408147801992"""
2  3  1.959664531  17.58833051  """17.1778034757926"""
3  4  44.80019562  2.802558875  """6.81664690867892"""
4  5  69.42845368   15.9745046  """4.06222352243168"""

In [14]:
heart_from_pd = pd.read_table(path, sep='\t')  #데이터 구분자만 다르게 해서 파일을 읽어 들일 수 있음

In [15]:
heart_from_pd

      id     biking    smoking       heart.disease
0      1  30.801246  10.896608  "11.7694227799599"
1      2  65.129215   2.219563  "2.85408147801992"
2      3   1.959665  17.588331  "17.1778034757926"
3      4  44.800196   2.802559  "6.81664690867892"
4      5  69.428454  15.974505  "4.06222352243168"
..   ...        ...        ...                 ...
493  494  47.660440  27.562464  "11.2943915753777"
494  495  45.097203  21.385620  "9.61676248475798"
495  496   8.279743   6.423720  "13.4951676503312"
496  497  42.345863  20.741328   "10.115865147358"
497  498  30.774254  23.610175   "11.843555763502"

[498 rows x 4 columns]

In [18]:
pd.read_table(path,header='infer')

      id     biking    smoking       heart.disease
0      1  30.801246  10.896608  "11.7694227799599"
1      2  65.129215   2.219563  "2.85408147801992"
2      3   1.959665  17.588331  "17.1778034757926"
3      4  44.800196   2.802559  "6.81664690867892"
4      5  69.428454  15.974505  "4.06222352243168"
..   ...        ...        ...                 ...
493  494  47.660440  27.562464  "11.2943915753777"
494  495  45.097203  21.385620  "9.61676248475798"
495  496   8.279743   6.423720  "13.4951676503312"
496  497  42.345863  20.741328   "10.115865147358"
497  498  30.774254  23.610175   "11.843555763502"

[498 rows x 4 columns]

In [16]:
pd.read_table(path,header=0)

      id     biking    smoking       heart.disease
0      1  30.801246  10.896608  "11.7694227799599"
1      2  65.129215   2.219563  "2.85408147801992"
2      3   1.959665  17.588331  "17.1778034757926"
3      4  44.800196   2.802559  "6.81664690867892"
4      5  69.428454  15.974505  "4.06222352243168"
..   ...        ...        ...                 ...
493  494  47.660440  27.562464  "11.2943915753777"
494  495  45.097203  21.385620  "9.61676248475798"
495  496   8.279743   6.423720  "13.4951676503312"
496  497  42.345863  20.741328   "10.115865147358"
497  498  30.774254  23.610175   "11.843555763502"

[498 rows x 4 columns]

In [17]:
pd.read_table(path,header=1)

       1  30.80124571  10.89660802  "11.7694227799599"
0      2    65.129215     2.219563  "2.85408147801992"
1      3     1.959665    17.588331  "17.1778034757926"
2      4    44.800196     2.802559  "6.81664690867892"
3      5    69.428454    15.974505  "4.06222352243168"
4      6    54.403626    29.333176  "9.55004599703223"
..   ...          ...          ...                 ...
492  494    47.660440    27.562464  "11.2943915753777"
493  495    45.097203    21.385620  "9.61676248475798"
494  496     8.279743     6.423720  "13.4951676503312"
495  497    42.345863    20.741328   "10.115865147358"
496  498    30.774254    23.610175   "11.843555763502"

[497 rows x 4 columns]

In [19]:
heart_from_pd = pd.read_csv(path,sep)

NameError: name 'sep' is not defined

In [20]:
heart_from_pd.to_csv('저장하고 싶은 경로')  #csv 파일로 저장되도록 함